CompileFlags:
  Add: [
  -std=c++20,
  -I/nix/store/xzfmarrq8x8s4ivpya24rrndqsq2ndiz-gcc-13.3.0/include/c++/13.3.0,
  -I/nix/store/xzfmarrq8x8s4ivpya24rrndqsq2ndiz-gcc-13.3.0/include/c++/13.3.0/x86_64-unknown-linux-gnu,
  -I/nix/store/aax0hx68i2ikhpf27hdm6a2a209d4s6p-glibc-2.40-36-dev/include,
  -Wall,
  -Wextra
  ]
Diagnostics:
  UnusedIncludes: None # None or Strict
