CompileFlags:
  Add: [
  -std=c++20,
  -I/nix/store/81k30mlz8iprvyxivcyc43frqg4mh161-libcxx-16.0.6-dev/include/c++/v1,
  -I/nix/store/aax0hx68i2ikhpf27hdm6a2a209d4s6p-glibc-2.40-36-dev/include,
  -Wall,
  -Wextra
  ]
Diagnostics:
  UnusedIncludes: None # None or Strict
